@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #585858;
    font-size: 13px
}
body {
    border-top: 5px solid #6b9dc7;
    background-color: #fff
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}
h1 span {
    font-weight: 700
}
hr {
    border-top: 2px solid #ebebeb;
    margin: 15px 0
}
ol,
ul {
    padding-left: 18px
}
ol li {
    padding-left: 5px
}
a {
    color: #D4195E;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
a:hover {
    color: #D4195E;
    text-decoration: underline
}
a:focus {
    text-decoration: none;
    outline: 0
}

.color {
    background-color: #D4195E
}
section.container-fluid{
    margin-top:-6px;
}
.alert{
    padding:6px;
}

.fa-heart-o{
cursor:pointer;
}
#home {
    border-top: 8px solid #D4195E
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px
}
.myform {
    padding-top: 5px;
    padding-bottom: 15px
}
.myform form p {
    margin-top: 16px
}
.myform h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 15px;
    font-weight: 400
}
.myform h3 {
    font-size: 16px;
    border-bottom: 2px solid #ddd;
    font-weight: 700;
    padding: 8px;
    margin: 0 0 15px 0
}
.myform .btn {
    margin: 0;
    height: 44px
}
.myform .form-group label {
    display: none
}
.myform .form-control {
    display: inline;
    background: 0 0;
    border: none;
    border-radius: 0;
    outline: 0;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
    border: 2px solid #ebebeb;
    box-shadow: none;
    color: #585858;
    -webkit-appearance: none
}
.myform .form-control::-webkit-input-placeholder {
    color: #bbb
}
.myform .form-control:-moz-placeholder {
    color: #bbb
}
.myform .form-control::-moz-placeholder {
    color: #bbb
}
.myform .form-control:focus {
    outline: 0;
    border: 2px solid #585858
}
.myform textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 8px;
    vertical-align: top
}
.myform .no-placeholder .form-group label {
    display: block
}
.myform.no-placeholder .controls {
    margin-top: 0
}
.top-buffer {
    margin-top: 20px;
}
.special {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}
.controls {
    position: relative
}
.checkbox,
.radio {
    margin: 24px 0;
    position: relative;
    font-size: 14px;
    line-height: inherit;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear
}
.checkbox label,
.radio label {
    padding-left: 0;
    font-size: 14px;
    vertical-align: -webkit-baseline-middle
}
.checkbox label span,
.radio label span {
    vertical-align: top;
    line-height: 23px;
    color: #585858
}
label.show {
    display: block;
    text-decoration: none
}
input[type=checkbox],
input[type=radio] {
    margin: 4px 0px 0 0;
    line-height: normal;
    font-size: 21px;
    text-align: center
}
#total {
    font-weight: 600;
    font-size: 21px
}
.form-control-inline {
    min-width: 0;
    width: auto!important;
    display: inline!important
}
.table tbody>tr>td.vert-align {
    vertical-align: middle
}

.table .table-header{
    background-color: #f5f5f5;
    font-size: 14px;
    border: 1px solid #ccc !important;
}
address {
    font-size: 14px
}

input[type=radio]+span:before,
input[type=checkbox]+span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
input[type=radio]+span:before {
    content: "\e631"
}
input[type=radio]:checked+span:before {
    content: "\e630"
}
input[type=checkbox]+span:before {
    content: "\e62e"
}
input[type=checkbox]:checked+span:before {
    content: "\e62d"
}


.panel-group {
    margin-bottom: 0
}
.panel-group .panel {
    border-radius: 0;
    margin-top: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}
.panel-group .panel+.panel {
    margin-top: 15px
}
.panel-group .panel-body {
    padding: 15px 0
}
.panel-group .panel-heading {
    border-radius: 0;
    background-color: #ebebeb
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0
}
.panel-group .panel-title a {
    font-weight: 700;
    font-size: 16px;
    color: #D4195E
}
.panel-group .panel-title a.collapsed {
    color: #585858
}
.panel-group .panel-title a:hover {
    text-decoration: none;
    color: #D4195E
}
.panel-group .panel-collapse {
    padding: 0 15px
}
.menu-wrapper {
    position: relative;
    font-weight: 300
}
.menu-wrapper h3 {
    color: #6b9dc7;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 22px;
    padding: 5px;
}
.menu-wrapper .mt-info {
    padding-left: 5px
}
.menu-wrapper .mt-info h3 {
    color: #fff;
    margin-left: 0
}
.menu-wrapper .mt-info .btn {
    margin-left: 2px;
    margin-bottom: 30px
}
.menu-wrapper .mt-info ul {
    list-style-type: none;
    margin: 20px 0 35px 0;
    padding-left: 0
}
.menu-wrapper .mt-info ul li {
    font-size: 16px;
    margin-bottom: 15px
}
.menu-wrapper .mt-info ul li a {
    font-weight: 300
}
@media (max-width: 767px) {
    .menu-wrapper {
        border-top: 12px solid #6b9dc7;
        position: fixed;
        z-index: 20;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        font-size: 13px;
        font-weight: 400;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
	.menu-wrapper.visibility{
		display:none;
	}
}
.effect li a {
    position: relative;
    color: #000;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    padding: 0 5px;
    background: 0 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.effect li a:focus,
.effect li a:hover {
    background-color: #908F8F;
    color: #fff;
    text-decoration: none
}
.effect li.active a {
    background-color: #908F8F;
    color: #fff;
    text-decoration: none
}
.main-nav a {
    color: #585858
}

.shippingInfo{
	color: #D4195E;
	margin-top: 6px;
	font-size: 12px;
}

.search-box{
    margin: 4px 4px 4px 0px;
}
.search-box input{
        border-radius: 0px;
        height: 24px;
        padding: 2px;
}

.menu-wrapper .nav-list{
	border: 6px solid transparent;
    -webkit-border-image: url(img/border_image.png) 30% round;
    -o-border-image: url(img/border_image.png) 30% round;
    border-image: url(img/border_image.png) 30% round;
}

.nav-list {
    list-style-type: none;
    display: block;
    margin: 7px auto;
    padding: 0px;
    font-weight: 300;
    color: #fff;
}
.nav-list li {
    text-align: center;
    display: inline-block;
    height: auto;
    padding-right: 4px;
}
.nav-list li a {
    text-transform: uppercase
}
.nav-list .active a span {
    background-color: #908F8F;
    color: #fff
}
.nav-brand {
    border: 1px solid #2b3438;
    width: auto;
    font-size: 32px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 295px;
    font-weight: 300;
    line-height: 46px;
    cursor: pointer;
    color: #2b3438;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.nav-brand:hover {
    background-color: #908F8F;
    color: #fff;
    text-decoration: none;
    padding: 0 10px
}
.nav-brand span {
    font-weight: 700
}
@media (max-width: 767px) {
    .nav-brand {
        float: left;
        width: auto;
        font-size: 25px;
        letter-spacing: -1px;
        border: 0;
		margin-left:12px
    }
}
.nav-header {
    margin: 4px 0 4px 0;
    position: relative;
}
.nav-header h1 {
    margin: 5px 0 0 0
}

@media (max-width: 767px) {
    .nav-header .cart {
        position: relative
    }
}
.nav-header .badge {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    background-color: #D4195E
}
@media (max-width: 767px) {
    .nav-header {
        margin: 15px 0
    }
}

.nav-icon-outline {
    background-color: #585858;
    display: block;
    color: #fff;
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-left: 15px;
	padding: 5px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.nav-icon-outline:focus,
.nav-icon-outline:hover,

a.nav-icon-outline {
    background-color: transparent;
    border-color: #585858;
    color: #585858
}
a.nav-icon-outline:focus,
a.nav-icon-outline:hover {
    color: #fff;
    background-color: #585858;
    text-decoration: none;
    border-color: #585858
}

.login-page{
    width: 100%;
    height: 100%;
}

.login-page .signup-content{
    position: fixed;
    width:355px;
    top: 15%;
    left: 35%;
    padding: 5px 12px 10px 12px;
    border: 1px solid #f1efef;
    box-shadow: 5px 5px 3px #b7b6b6;
}
.login-page .signup-text{
    color: #f998bc;
    font-size:20px;
    letter-spacing:1px
}

.login-page .homeText {
    font-weight: 300;
    font-size: 15px;
    color: #b3b1b2;
}

.login-page .login-content{
position: fixed;
top: 25%;
left: 35%;
padding: 10px 10px 0px 10px;
border: 1px solid #f1efef;
box-shadow: 5px 5px 3px #b7b6b6;
}

.login-page .form-control {
	background: #ffffff;
    box-shadow: none;
    color: #908F8F;
	border-radius: 0;
}

.login-page .signupBtn {
    height: 45px;
    width: 90px;
    border-radius: 0;
    background: #f998bc;
    border:0px;
    box-shadow: none;
    color: #fff;
	font-size: 20px;
    text-decoration: none;
	margin-right: 10px;
	float:left;
}

.login-page .cancelBtn {
    height: 45px;
    width: 90px;
    border-radius: 0;
    background: #b3b1b2;
    border:0px;
    box-shadow: none;
    color: #fff;
	font-size: 20px;
    text-decoration: none;
	float:right;
}

.login-page .loginBtn {
    height: 107px;
    width: 100px;
    border-radius: 0;
	background: #f998bc;
    border: 0px;
    box-shadow: none;
    margin-left: 15px;
    color: #fff;
    margin-bottom: 30px;
}

.login-page .fa-spinner{
    top: 60px;
    left: 120px;
}

.login-page a.member{
display: inherit;
padding: 2px;
}

.login-page .checkbox1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 2px;
}

.login-page  span.pass {
    padding-top: 2px;
    margin-left: 12px;
    cursor: pointer
}

.loginText{
        color: #fff !important;
        margin-top: 6px;
        font-weight: 300;
        font-size: 14px;
        background-color: #6b9dc7;
        padding: 6px;
}

.loginText:hover,
.loginText:focus{
	text-decoration :none;
}

.shippingInfoSmall{
    margin: 10px;
    padding: 0px;
}

div.visible-xs a{
    margin-left:5px;
    margin-right: 5px;
    color:#585858
}

div.visible-xs a span{
    background-color: #d4195e;
    margin-top: -10px;
}

.theme-color {
    color: #908F8F;
}

.theme-color:hover, .theme-color:focus {
color: #D4195E
}

#wrap {
    position: relative;
    backface-visibility: hidden;
    min-height: 100%;
    min-width: 100%;
    z-index: 1030;
    background-color: #fff;
    top: 0;
    bottom: 100%;
    left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
#wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(146, 69, 220, .4);
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}
.menu-open#wrap::before {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    z-index: 100
}
.menu-open {
    -webkit-transform: translate3d(-240px, 0, 0);
    -moz-transform: translate3d(-240px, 0, 0);
    -o-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
    overflow: hidden
}

@media (max-width: 767px) {
    .close-menu {
        position: absolute;
        top: 8px;
        right: 20px;
        color: #d4195e !important;
		cursor: pointer;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out
    }
}
.btn {
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 43px;
    display: inline-block;
    margin: 0 15px 15px 0;
    height: 48px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: 0;
    position: relative;
    background: #585858;
    color: #fff;
    border: 2px solid #585858;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
.btn:active,
.btn:focus,
.btn:hover {
    color: #fff;
    top: 0;
    text-decoration: none;
    background-color: #D4195E;
    box-shadow: none;
    border: 2px solid #D4195E
}
.btn.pull-left,
.btn.pull-right {
    margin: 0
}
.btn-outline,
.btn-outline-w {
    background: 0 0;
    border: 2px solid #585858;
    box-shadow: none;
    color: #585858;
    text-decoration: none
}
.btn-outline-w:focus,
.btn-outline-w:hover,
.btn-outline:focus,
.btn-outline:hover {
    background: #585858;
    border-color: #585858;
    color: #fff;
    top: 0;
    text-decoration: none
}
.btn-outline-w {
    border-color: #FFF;
    color: #FFF
}
.btn-outline-w:focus,
.btn-outline-w:hover {
    color: #fff;
    top: 0;
    text-decoration: none;
    background-color: #D4195E;
    box-shadow: none;
    border: 2px solid #D4195E
}
.btn-disable,
.btn-disable:focus,
.btn-disable:hover {
    background: #ddd;
    border-color: #ddd
}
.btn-right {
    margin-right: 0;
    float: right
}
@media (max-width: 767px) {
    .btn-right {
        text-align: center;
        float: none;
        margin: 0 auto;
        display: block
    }
}
.btn i {
    font-style: normal;
    font-size: 16px;
    vertical-align: sub
}
.btn i:before {
    line-height: 39px
}
.btn i.left {
    padding-right: 10px
}
.btn i.right {
    padding-left: 10px
}
.breadcrumb {
    background-color: transparent;
    padding: 15px 17px;
    margin: 0
}
.add-preview{
    position: absolute;
    z-index:1;
    padding: 10px;
}
.add-preview .cartPlus{
    opacity: 0.5;
    color: #337ab7;
}

.add-preview .preview{
    opacity: 0.5;
    color: #337ab7;
}

.add-preview .cartPlus:hover, .preview:hover{
    opacity:1;
}

.login-page .alert{
    height: 35px;
    padding: 6px;
    border-radius: 1px;
}

.breadcrumb a {
    color: #585858
}
.breadcrumb>.active {
    color: #ccc
}
.product-gallery{
    width:80%;
}

.product-gallery .alert,.carousel{
    margin: 0px 15px 15px;
    border-radius: 0px;
}
.product-gallery .carousel-control{
    width: 4%;
    background: transparent;
    opacity:0.9;
}
.product-gallery .carousel-indicators li{
    width: 12px;
    height: 12px;
    margin: 2px;
}
.product-filter{
    width:19%;
    display: inline-block;
}
.product-filter .panel-default{
    border-radius: 0px;
}

.product-filter .panel-heading {
    padding: 5px 5px;
}

.product-filter .panel-heading .filter-category {
    width:80%
}

.product-filter .panel-body {
    padding: 10px;
}

.category-filter-panel {
    height: 110px;
    overflow: auto;
}

.product-filter .resetBtn{
    background-color: #d4195e;
    color: #fff;
    padding: 1px 3px;
    opacity: 0.8;
    cursor:pointer
}
.productlist a .product-price {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #585858
}
.productlist a:hover .product-price {
    background-color: #b5b5b5;
    color: #FFF
}
.productlist .product {
    padding-top: 0;
    padding-bottom: 50px
}
.productlist .row {
    margin-right: 0;
    margin-left: 0
}
@media (max-width: 767px) {
    .productlist .row {
        margin-right: -15px;
        margin-left: -15px
    }
}
.productlist .col-sm-12,
.productlist .col-sm-4,
.productlist .col-sm-6,
.productlist .col-sm-8 {
    position: relative;
    min-height: 1px
}
@media (max-width: 767px) {
    .productlist .col-sm-12,
    .productlist .col-sm-4,
    .productlist .col-sm-6,
    .productlist .col-sm-8 {
        min-height: 1px;
        padding: 0 15px 15px 15px
    }
}
.productlist .col-sm-4.special {
    padding: 0
}

.productlist .productlist-love-container {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 50%;
    text-align: left;
    z-index: 89;
    margin: 22px;
    font-size: 20px;
    line-height: 20px
}
.productlist {
    margin-bottom: 50px
}
.productlist .product-price {
    background-color: #fdfdfd;
    display: inline-block;
    text-transform: none;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 25px;
    border: 1px solid #f3f1f1;
}
.productlist .product-price span {
    vertical-align:middle;
}

.productlist .product-price span:first-of-type {
    color:#fc6e51;
    font-size: 10px;
}

.productlist .product-price span.pull-right{
    margin-top: 5px;
    font-size: 9px;
 }
.productlist .product-price span.pull-right .liked{
    color:#d4195e;
}
.productlist .product-price .original-price {
    text-decoration: line-through;
    margin-left: .5em
}
.productlist-label {
    position: absolute;
    top: 26px;
    right: 22px
}
@media (max-width: 767px) {
    .productlist-label {
        top: 18px;
        right: 30px
    }
}

.verticalAlignMiddle{
	vertical-align: middle;
}

.sale-label,
.sold-out-label {
    color: #D4195E;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2px 5px;
    border: 1px solid #efc3d3;
    background-color: #FFF;
    opacity: 0.9;
}
.sale-label {
    color: #D4195E;
    border-color: #D4195E
}
.show-more {
    margin: 15px 0px 0px;
}
.show-more span{
    cursor:pointer;
    border: 1px solid #c7c7c7;
    padding: 3px;
}
.buyNow:hover{
    cursor:pointer;
}
.product-colors {
    padding: 0;
    margin-bottom: 30px;
    padding-top: 15px
}
.product-colors li {
    border: 2px solid #fff;
    display: inline-block;
    margin: 2px 1px;
    vertical-align: top;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
.product-colors li a {
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    display: block;
    height: 38px;
    text-align: center;
    width: 38px;
    border-radius: 50%
}
.product-colors li a.white {
    border: 4px solid #eee
}
.product-colors li:hover {
    border: 2px solid #585858
}
.product-colors li.selected {
    border: 2px solid #585858
}
.product .product-title {
    margin-top: 0;
    margin-bottom: 12px
}
.product .product-price {
    font-weight: 300;
    font-size: 23px;
    padding: 0
}
.product .product-price .original-price {
    color: #ebebeb;
    margin-left: 5px
}
.product .product-detail {
    margin: 20px 0
}
.product .product-detail ul {
    padding-left: 20px
}

.product-points .pull-left{
    margin-right:20px;
    margin-bottom:10px
}

.addToCartBtn{
    height: 30px;
    width: 140px;
    border-radius: 0;
    background: #f998bc;
    border: 0px;
    box-shadow: none;
    color: #fff !important;
    font-size: 16px;
    padding: 5px;
    text-decoration: none !important;
    margin-left: 10px;
}

.subscribeBtn{
    width: 80px;
    border-radius: 0;
    background: #f998bc;
    border: 0px;
    box-shadow: none;
    color: #fff !important;
    text-decoration: none !important;
    margin-left: 2px;
    padding: 3px;
    text-transform: uppercase;
}

.paymentBtn{
    height: 30px;
    width: 180px;
    border-radius: 0;
    background: #999;
    border: 0px;
    box-shadow: none;
    color: #fff !important;
    font-size: 16px;
    padding: 5px;
    text-decoration: none !important;
}

.myOrderForm{
    margin-bottom: 30px;
}

.myOrderForm .form-group span {
    margin-right: 8px;
}

.myOrderForm .radio-group{
   margin-right: 10px;
}

.product .product-img {
      margin: 15px 0px;
      width:75%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
      transition: all 0.3s;
}

.product .product-img:hover {
      -moz-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       margin: 10px 0px;
}
.product .product-mark {
    padding-top: 30px
}
.product-mobile {
    padding-bottom: 30px
}
.social-links {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    margin-right: -9px
}
.social-links li {
    display: inline-block;
    margin: 0 9px 0 9px;
    border-radius: 3px;
    box-shadow: 0 4px 0 transparent
}
.social-links li a {
    background: 0 0;
    border: 2px solid #585858;
    display: block;
    color: #585858;
    font-size: 16px;
    width: 41px;
    height: 41px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.social-links li a:hover {
    color: #FFF;
    background: #585858;
    text-decoration: none;
    border-color: #585858
}
.cart-list {
    min-height: 600px;
    margin-bottom: 30px
}
.cart-list a.remove-item {
    color: #585858
}
.cart-list a.remove-item i {
    line-height: 34px
}
.cart-list a.remove-item:hover {
    color: #D4195E;
    text-decoration: none
}
.cart-list a.remove-item th {
    font-size: 16px
}

.cart-list table.shopping-cart{
    width:75%;
}

.cart-list table.order-summary{
    width:75%;
}
.blog-sidebar h3 {
    margin-top: 28px
}
.blog-sidebar ul {
    padding-left: 18px
}
.blog-sidebar .post-date {
    margin-bottom: 10px;
    text-transform: uppercase
}
.blog-sidebar .post-date span {
    float: right
}
article {
    margin-bottom: 60px
}
article h1 {
    font-size: 32px
}
article h1 a {
    color: #585858
}
article h1 a:hover {
    text-decoration: none
}
article .social-links {
    margin: 30px 0
}
blockquote .small,
blockquote footer,
blockquote small {
    background-color: transparent;
    padding: 10px 0
}
.paging {
    margin: 30px 0
}
.paging .btn {
    padding: 0 20px
}
.content .productlist {
    padding: 0 0 20px 0
}
#comments_pagination {
    margin: 16px 0;
    text-align: center
}
#comments_pagination a,
#comments_pagination span {
    cursor: pointer;
    font-size: 12px;
    padding: 0 16px;
    line-height: 38px;
    display: inline-block;
    margin: 0 8px 4px 0;
    height: 40px;
    text-decoration: none;
    font-weight: 700;
    outline: 0;
    position: relative;
    background: #FFF;
    color: #585858;
    border: 2px solid #ebebeb;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
#comments_pagination a:active,
#comments_pagination a:focus,
#comments_pagination a:hover,
#comments_pagination span:active,
#comments_pagination span:focus,
#comments_pagination span:hover {
    color: #fff;
    top: 0;
    text-decoration: none;
    background-color: #585858;
    box-shadow: none;
    border: 2px solid #585858
}
#comments_pagination span {
    border: 2px solid #585858;
    background: #585858;
    color: #FFF
}
.media {
    font-weight: 400
}
.media hr {
    margin-top: 0
}
.media h4 {
    margin: 0
}
.media h4 span {
    float: right;
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 400
}
.media p {
    font-size: 13px;
    font-weight: 400
}
.avatar,
.avatar:active,
.avatar:hover {
    border: 0
}
#more-items {
    display: none
}
.post-date {
    margin-bottom: 10px;
    text-transform: uppercase
}

.img-responsive {
    border: 1px solid #d4d4d4;
}

.img-responsive:hover {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.highlighted-text {
    color: #D4195E !important;
    font-weight: bold !important;
    background-color: transparent !important;
}
.post-date span {
    float: right
}
.footer {
    background-color: #6b9dc7;
    width: 100%;
    z-index: 99999;
    border-top: 1px solid #C3C3C3;
    padding: 6px;
}

.footer .link-list{
    padding: 0;
    list-style: none;
}

.footer .link-list li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.footer .link-list li{
    display: inline;
    padding: 4px;
}
.footer p{
    margin-left: 2px;
}
.footer p a{
         color: #fff;
         font-weight: bold;
             margin-left: 5px
 }

.footer .newsLetterText{
        color: #fff;
        font-weight: bold;
        margin: 2px;
        text-transform: uppercase;
}
.go-top{
position: fixed;
bottom: 80px;
right: 15px;
}

@media (max-width: 767px) {
.product-gallery{
    width:70%
}

.search-box input{
    display: none;
}

.product-filter{
    width:27%;
    margin-left:10px
}
.footer {
        display:none;
}
.col-sm-3{
	width: 45%;
    display: inline-block;
    margin: 8px;
}
.col-sm-6{
	width: 93%;
    margin: 8px;
}
}

@media (max-width: 767px) {
    .login-page .login-content,.signup-content{
        left: 10% !important;
    }
    .login-page .loginBtn{
        width:85px !important;
        margin-left: 10px !important;
    }
    .menu-wrapper .nav-list {
        padding: 0px !important;
		border: none !important;
    }
	.menu-wrapper .mt-info ul li a{
		color: #777;
	}
    .menu-wrapper .nav-list li {
        display: list-item;
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        z-index: 100;
        border-bottom: 1px solid #e8e5e5;
        opacity: 0.8;
    }
    .menu-wrapper .nav-list li a {
        color: #000000 !important;
        text-transform: uppercase;
		background-color: #FFFFFF !important;
		padding: 5px;
		width: 100%;
    }

	.menu-wrapper .nav-list li a:hover {
        color: #fff !important;
        background-color: #908F8F !important;
	}

	.shippingInfo {
		display:none;
	}
	.social-connect{
		display:none;
	}
}

@media (max-width: 480px) {

.nav-brand {
    font-size: 20px;
    margin-left: 5px;
}

.loginText {
	display:none;
}

.login-page .login-content,.signup-content{
        left: 2% !important;
}

.login-page .loginBtn{
    width:55px !important;
    margin-left: 5px !important;
}

.product-filter {
    width: 85%;
    margin: 0px 25px;
}

.product-gallery {
    width: 100%
}

}

@media (max-width:1099px) {
    .buyNow{
        display:none;
        }
    .productlist .product-price span.pull-right{
        margin-top: 4px;
    }
    }
}