@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #585858;
    font-size: 12px
}
body {
    border-top: 4px solid #ee6a70;
    background-color: #fff;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}
h1 span {
    font-weight: 700
}
hr {
    border-top: 2px solid #ebebeb;
    margin: 7px 0
}
ol,
ul {
    padding-left: 18px
}
ol li {
    padding-left: 5px
}
a {
    color: #ee6a70;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
a:hover {
    color: #ee6a70;
    text-decoration: underline
}
a:focus {
    text-decoration: none;
    outline: 0
}

.row {
    margin: 0px;
}

blockquote{
    font-size: 15px;
}

blockquote span:first-child{
    color: #337ab7;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.alert{
    padding:6px;
}

/* Header section */
header .top-row{
    text-transform: uppercase;
    margin: 5px;
}

header .top-row i{
    margin-right: 5px;
}
header .top-row .pull-left span{
    font-weight: bold;
}
header .top-row .pull-right span{
    margin-right: 3px;
    padding-right: 3px;
    border-right: 1px solid #999;
}

.nav-header-bottom .search-box{
    width: 30%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 2px 6px;
    height: 35px;
    margin-top: 6px;
}
.nav-header-bottom span.fa-venus{
    color: #fff;
    background-color: #ee6a70;
    padding: 5px 11px;
    margin-top: 6px;
    margin-left: 0px;
    height: 35px;
}

/* middle section */
.alert.home-page{
    margin: 10px 0px;
    border-radius: 0px;
    font-size: 13px;
    letter-spacing: 1px;
}

.alert-warning.home-page{
    background-color: #fff8ee;
}

.nav-tabs li{
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 4px;
}

.nav-tabs li a {
    border-radius: 0px;
    padding: 5px 10px;
    color: #908F8F;
}

.nav-tabs li.active a {
    background-color: #ee6a70;
    color:#fff;
}

.nav-tabs li a span.badge{
    font-size: 10px;
    margin-left: 3px;
    text-transform: lowercase;
    background-color: #fff;
    color: #ee6a70;
    border: 1px solid #ee6a70;
}

.nav-tabs li .fa-caret-up{
    position: absolute;
    z-index: 999;
    top: 21px;
    left: 58px;
    color: #fff;
}

.product-gallery .products .col-sm-3{
    padding-left: 0px;
    padding-right: 35px;
    margin-bottom: 20px;
}
.product-gallery .col-sm-2{
    padding-right: 0px;
    padding-left: 0px;
}

.product-gallery .products{
    display: inline-block;
}

.sortBy{
    margin: 3px 0px 0px 3px;
    color: #908f8f;
    vertical-align: middle;
}

.fa-heart-o{
cursor:pointer;
}
#home {
    border-top: 8px solid #ee6a70
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px
}
.myform {
    padding-top: 5px;
    padding-bottom: 15px
}
.myform form p {
    margin-top: 16px
}
.myform h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 15px;
    font-weight: 400
}
.myform h3 {
    font-size: 16px;
    border-bottom: 2px solid #ddd;
    font-weight: 700;
    padding: 8px;
    margin: 0 0 15px 0
}
.myform .btn {
    margin: 0;
    height: 44px
}
.myform .form-group label {
    display: none
}
.myform .form-control {
    display: inline;
    background: 0 0;
    border: none;
    border-radius: 0;
    outline: 0;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
    border: 2px solid #ebebeb;
    box-shadow: none;
    color: #585858;
    -webkit-appearance: none
}
.myform .form-control::-webkit-input-placeholder {
    color: #bbb
}
.myform .form-control:-moz-placeholder {
    color: #bbb
}
.myform .form-control::-moz-placeholder {
    color: #bbb
}
.myform .form-control:focus {
    outline: 0;
    border: 2px solid #585858
}
.myform textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 8px;
    vertical-align: top
}
.myform .no-placeholder .form-group label {
    display: block
}
.myform.no-placeholder .controls {
    margin-top: 0
}

.special {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}
.controls {
    position: relative
}
.checkbox,
.radio {
    margin: 24px 0;
    position: relative;
    font-size: 14px;
    line-height: inherit;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear
}
.checkbox label,
.radio label {
    padding-left: 0;
    font-size: 14px;
    vertical-align: -webkit-baseline-middle
}
.checkbox label span,
.radio label span {
    vertical-align: top;
    line-height: 23px;
    color: #585858
}
label.show {
    display: block;
    text-decoration: none
}
input[type=checkbox],
input[type=radio] {
    margin: 4px 0px 0 0;
    line-height: normal;
    font-size: 21px;
    text-align: center
}
#total {
    font-weight: 600;
    font-size: 21px
}
.form-control-inline {
    min-width: 0;
    width: auto!important;
    display: inline!important
}
.table tbody>tr>td.vert-align {
    vertical-align: middle
}

.table .table-header{
    background-color: #f5f5f5;
    font-size: 14px;
    border: 1px solid #ccc !important;
}
address {
    font-size: 14px
}

input[type=radio]+span:before,
input[type=checkbox]+span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
input[type=radio]+span:before {
    content: "\e631"
}
input[type=radio]:checked+span:before {
    content: "\e630"
}
input[type=checkbox]+span:before {
    content: "\e62e"
}
input[type=checkbox]:checked+span:before {
    content: "\e62d"
}


.panel-group {
    margin-bottom: 0
}
.panel-group .panel {
    border-radius: 0;
    margin-top: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}
.panel-group .panel+.panel {
    margin-top: 15px
}
.panel-group .panel-body {
    padding: 15px 0
}
.panel-group .panel-heading {
    border-radius: 0;
    background-color: #ebebeb
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0
}
.panel-group .panel-title a {
    font-weight: 700;
    font-size: 16px;
    color: #ee6a70
}
.panel-group .panel-title a.collapsed {
    color: #585858
}
.panel-group .panel-title a:hover {
    text-decoration: none;
    color: #ee6a70
}
.panel-group .panel-collapse {
    padding: 0 15px
}
.nav-header-top {
    position: relative;
    font-weight: 300
}
.nav-header-top h3 {
    color: #ee6a70;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 22px;
    padding: 5px;
}
.nav-header-top .mt-info {
    padding-left: 5px
}
.nav-header-top .mt-info h3 {
    color: #fff;
    margin-left: 0
}
.nav-header-top .mt-info .btn {
    margin-left: 2px;
    margin-bottom: 30px
}
.nav-header-top .mt-info ul {
    list-style-type: none;
    margin: 20px 0 35px 0;
    padding-left: 0
}
.nav-header-top .mt-info ul li {
    font-size: 16px;
    margin-bottom: 15px
}
.nav-header-top .mt-info ul li a {
    font-weight: 300
}
@media (max-width: 767px) {
    .nav-header-top {
        border-top: 5px solid #ee6a70;
        position: fixed;
        z-index: 20;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        font-size: 13px;
        font-weight: 400;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
	.nav-header-top.visibility{
		display:none;
	}
}
.effect li a {
    position: relative;
    color: #000;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    padding: 0 12px;
    background: 0 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.effect li a:focus,
.effect li a:hover {
    background-color: #908F8F;
    color: #fff;
    text-decoration: none
}
.effect li.active a {
    background-color: #908F8F;
    color: #fff;
    text-decoration: none
}
.main-nav a {
    color: #585858
}

.nav-header-top .nav-list{
	border: 6px solid transparent;
    -webkit-border-image: url(img/border_image.png) 30% round;
    -o-border-image: url(img/border_image.png) 30% round;
    border-image: url(img/border_image.png) 30% round;
}

.nav-list ul {
    list-style-type: none;
    display: block;
    margin: 2px auto;
    padding: 0px;
    font-weight: 300;
    color: #fff;
    float:left;
}
.nav-list li {
    text-align: center;
    display: inline-block;
    height: auto;
    padding-right: 4px;
    font-size: 14px;
}
.nav-list li a {
    text-transform: uppercase
}
.nav-list .active a span {
    background-color: #908F8F;
    color: #fff
}
.nav-brand {
    font-size: 30px;
    margin: 0 auto;
    width: 295px;
    font-weight: 300;
    line-height: 46px;
    cursor: pointer;
    color: #2b3438;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.nav-brand:hover {
    background-color: #ee6a70;
    color: #fff;
    text-decoration: none;
    padding: 0 10px
}
.nav-brand span {
    font-weight: 700
}
@media (max-width: 767px) {
    .nav-brand {
        float: left;
        width: auto;
        font-size: 25px;
        letter-spacing: -1px;
        border: 0;
    }
}
.nav-header-bottom {
    margin: 5px;
    position: relative;
}
.nav-header-bottom h1 {
    margin: 5px 0 0 0
}

@media (max-width: 767px) {
    .nav-header-bottom .cart {
        position: relative
    }
}
.nav-header-bottom .badge {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    background-color: #ee6a70;
}
@media (max-width: 767px) {
    .nav-header-bottom {
        margin: 15px 0
    }
}

.nav-icon-outline {
    background-color: #908F8F;
    display: block;
    color: #fff;
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-left: 15px;
	padding: 5px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.nav-icon-outline:focus,
.nav-icon-outline:hover,

a.nav-icon-outline {
    background-color: transparent;
    border-color: #908F8F;
    color: #908F8F
}
a.nav-icon-outline:focus,
a.nav-icon-outline:hover {
    color: #fff;
    background-color: #908F8F;
    text-decoration: none;
}

.login-page{
    width: 100%;
    height: 100%;
}

.login-page .signup-content{
    position: fixed;
    width:355px;
    top: 15%;
    left: 35%;
    padding: 5px 12px 10px 12px;
    border: 1px solid #f1efef;
    box-shadow: 5px 5px 3px #b7b6b6;
}
.login-page .signup-text{
    color: #f998bc;
    font-size:20px;
    letter-spacing:1px
}

.login-page .homeText {
    font-weight: 300;
    font-size: 15px;
    color: #b3b1b2;
}

.login-page .login-content{
position: fixed;
top: 25%;
left: 35%;
padding: 10px 10px 0px 10px;
border: 1px solid #f1efef;
box-shadow: 5px 5px 3px #b7b6b6;
}

.login-page .form-control {
	background: #ffffff;
    box-shadow: none;
    color: #908F8F;
	border-radius: 0;
}

.login-page .signupBtn {
    height: 45px;
    width: 90px;
    border-radius: 0;
    background: #f998bc;
    border:0px;
    box-shadow: none;
    color: #fff;
	font-size: 20px;
    text-decoration: none;
	margin-right: 10px;
	float:left;
}

.login-page .cancelBtn {
    height: 45px;
    width: 90px;
    border-radius: 0;
    background: #b3b1b2;
    border:0px;
    box-shadow: none;
    color: #fff;
	font-size: 20px;
    text-decoration: none;
	float:right;
}

.login-page .loginBtn {
    height: 107px;
    width: 100px;
    border-radius: 0;
	background: #f998bc;
    border: 0px;
    box-shadow: none;
    margin-left: 15px;
    color: #fff;
    margin-bottom: 30px;
}

.login-page .fa-spinner{
    top: 60px;
    left: 120px;
}

.login-page a.member{
    display: inherit;
}

.login-page  div.pass {
    cursor: pointer;
    text-transform: uppercase;
    color: #908f8f;
    margin-top: 1px;
}

.loginText{
    padding: 2px;
    float: right;
}
.loginText a{
    color: #555;
    font-size: 13px;
    letter-spacing: 1px;
}

.loginText a:hover,
.loginText a:focus{
	text-decoration :none;
}

div.visible-xs a{
    margin-left:5px;
    margin-right: 5px;
    margin-top: -3px;
    color:#585858
}

div.visible-xs a span{
    background-color: #ee6a70;
    margin-top: -10px;
}

.theme-color {
    color: #908F8F;
}

.theme-color-1{
    color: #ee6a70;
}

.theme-color:hover, .theme-color:focus {
color: #ee6a70
}

#wrap {
    position: relative;
    backface-visibility: hidden;
    min-height: 100%;
    min-width: 100%;
    z-index: 1030;
    background-color: #fff;
    top: 0;
    bottom: 100%;
    left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
#wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(146, 69, 220, .4);
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}
.menu-open#wrap::before {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    z-index: 100
}
.menu-open {
    -webkit-transform: translate3d(-240px, 0, 0);
    -moz-transform: translate3d(-240px, 0, 0);
    -o-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
    overflow: hidden
}

@media (max-width: 767px) {
    .close-menu {
        position: absolute;
        top: 8px;
        right: 20px;
        color: #ee6a70 !important;
		cursor: pointer;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out
    }
}
.btn {
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 43px;
    display: inline-block;
    margin: 0 15px 15px 0;
    height: 48px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: 0;
    position: relative;
    background: #585858;
    color: #fff;
    border: 2px solid #585858;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
.btn:active,
.btn:focus,
.btn:hover {
    color: #fff;
    top: 0;
    text-decoration: none;
    background-color: #ee6a70;
    box-shadow: none;
    border: 2px solid #ee6a70
}
.btn.pull-left,
.btn.pull-right {
    margin: 0
}
.btn-outline,
.btn-outline-w {
    background: 0 0;
    border: 2px solid #585858;
    box-shadow: none;
    color: #585858;
    text-decoration: none
}
.btn-outline-w:focus,
.btn-outline-w:hover,
.btn-outline:focus,
.btn-outline:hover {
    background: #585858;
    border-color: #585858;
    color: #fff;
    top: 0;
    text-decoration: none
}
.btn-outline-w {
    border-color: #FFF;
    color: #FFF
}
.btn-outline-w:focus,
.btn-outline-w:hover {
    color: #fff;
    top: 0;
    text-decoration: none;
    background-color: #ee6a70;
    box-shadow: none;
    border: 2px solid #ee6a70
}
.btn-disable,
.btn-disable:focus,
.btn-disable:hover {
    background: #ddd;
    border-color: #ddd
}
.btn-right {
    margin-right: 0;
    float: right
}
@media (max-width: 767px) {
    .btn-right {
        text-align: center;
        float: none;
        margin: 0 auto;
        display: block
    }
}
.btn i {
    font-style: normal;
    font-size: 16px;
    vertical-align: sub
}
.btn i:before {
    line-height: 39px
}
.btn i.left {
    padding-right: 10px
}
.btn i.right {
    padding-left: 10px
}
.breadcrumb {
    background-color: transparent;
    padding: 15px 17px;
    margin: 0
}

.login-page .alert{
    height: 35px;
    padding: 6px;
    border-radius: 1px;
}

.breadcrumb a {
    color: #585858
}
.breadcrumb>.active {
    color: #ccc
}
.product-gallery .product-name{
    margin-bottom: 3px;
}
.product-gallery .product-name a{
    font-weight: 800;
    letter-spacing: 2px;
    color: #999;
    padding-bottom: 5px;
    font-size: 10px;
}

.product-gallery .carousel-controls-arrows{
    display: inline-block;
    float: right;
}
.product-gallery .carousel-controls-arrows span{
    cursor: pointer;
    margin-left: 7px;
}
.product-gallery .carousel-indicators{
    top: 5px;
}
.product-gallery .carousel-indicators li{
    width: 12px;
    height: 12px;
    margin: 2px;
    border: 1px solid #ddd;
}
.product-gallery .panel-heading{
    background-color: transparent;
    color: #908F8F;
    padding: 7px 4px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px;
}

.social-connect img{
		width: 100%;
	}
.product-gallery .panel-default{
    border-color: #ddd;
    border-radius: 0px;
    padding: 2px;
}

.product-filter .panel-heading {
    padding: 5px 5px;
}

.panel-heading span.filter-result{
    color: #ee6a70;
    letter-spacing: 1px;
}

.product-filter .panel-heading .filter-category {
    width:65%
}

.product-filter .panel-heading .filter-check{
    display: none;
}

.product-gallery .panel-body {
    padding: 3px;
}

.product-gallery .category-filter-panel {
    height: auto;
    overflow: auto;
}
.product-gallery .category-filter-row {
    letter-spacing: 2px;
    padding: 2px;
}

.product-gallery .resetBtn{
    background-color: #ee6a70;
    color: #fff;
    cursor: pointer;
    border: 0px;
}
.product-filter .descArrow{
    color: #908F8F;
    padding: 4px 3px;
    cursor: pointer;
}

.product-filter .ascArrow{
    color: #ee6a70;
    padding: 4px 3px;
    cursor: pointer;
}

.product-gallery a .product-price {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #585858
}
.product-gallery a:hover .product-price {
    background-color: #b5b5b5;
    color: #FFF
}
.product-gallery .product {
    padding-top: 0;
    padding-bottom: 50px
}
.product-gallery .row {
    margin-right: 0;
    margin-left: 0
}
@media (max-width: 767px) {
    .product-gallery .row {
        margin-right: -15px;
        margin-left: -15px
    }
}
.product-gallery .col-sm-12,
.product-gallery .col-sm-4,
.product-gallery .col-sm-6,
.product-gallery .col-sm-8 {
    position: relative;
    min-height: 1px
}
@media (max-width: 767px) {
    .product-gallery .col-sm-12,
    .product-gallery .col-sm-4,
    .product-gallery .col-sm-6,
    .product-gallery .col-sm-8 {
        min-height: 1px;
        padding: 0 15px 15px 15px
    }
}
.product-gallery .col-sm-10{
    padding: 0px;
}

.product-gallery {
    margin-top: 15px;
}
.product-gallery .product-detail {
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    display: inline-block;
}

.product-gallery .product-detail span {
    color:#777;
    font-size: 9px;
    vertical-align:middle;
}

.product-gallery .product-detail .fa-heart{
    color:red;
}
.product-gallery .product-detail .original-price {
    text-decoration: line-through;
    margin-left: .5em
}
.product-label {
    position: absolute;
    top: 25px;
    right: 40px
}
@media (max-width: 767px) {
    .product-gallery-label {
        top: 18px;
        right: 30px
    }
}

.verticalAlignMiddle{
	vertical-align: middle;
}

.sale-label, .sold-out-label, .limited-stock-label{
    font-weight: 300;
    text-transform: uppercase;
    padding: 2px 4px;
    background-color: #FFF;
    opacity: 0.9;
}

.sale-label{
    color: #83d3cf;
    border: 1px solid #83d3cf;
}

.sold-out-label{
    color: #f59867;
    border: 1px solid #f59867;
}

.limited-stock-label{
    color: #ee6a70;
    border: 1px solid #ee6a70;
}

.show-more {
    margin: 5px 0px 15px;
}
.show-more span{
    cursor:pointer;
    border: 1px solid #c7c7c7;
    padding: 3px;
}

.product-colors {
    padding: 0;
    margin-bottom: 30px;
    padding-top: 15px
}
.product-colors li {
    border: 2px solid #fff;
    display: inline-block;
    margin: 2px 1px;
    vertical-align: top;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
.product-colors li a {
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    display: block;
    height: 38px;
    text-align: center;
    width: 38px;
    border-radius: 50%
}
.product-colors li a.white {
    border: 4px solid #eee
}
.product-colors li:hover {
    border: 2px solid #585858
}
.product-colors li.selected {
    border: 2px solid #585858
}
.product .product-title {
    margin-top: 0;
    margin-bottom: 12px
}
.product .product-detail {
    font-weight: 300;
    font-size: 23px;
    padding: 0
}
.product .product-detail .original-price {
    color: #ebebeb;
    margin-left: 5px
}
.product .product-detail {
    margin: 20px 0
}
.product .product-detail ul {
    padding-left: 20px
}

.product-points .pull-left{
    margin-right:20px;
    margin-bottom:10px
}

.addToCartBtn{
    height: 30px;
    width: 140px;
    border-radius: 0;
    background: #f998bc;
    border: 0px;
    box-shadow: none;
    color: #fff !important;
    font-size: 16px;
    padding: 5px;
    text-decoration: none !important;
    margin-left: 10px;
}

.subscribeBtn{
    width: 75px;
    border-radius: 0;
    background: #ee6a70;
    border: 0px;
    box-shadow: none;
    color: #fff !important;
    text-decoration: none !important;
    margin-left: 3px;
    padding: 5px;
    text-transform: uppercase;
}

.paymentBtn{
    height: 30px;
    width: 180px;
    border-radius: 0;
    background: #999;
    border: 0px;
    box-shadow: none;
    color: #fff !important;
    font-size: 16px;
    padding: 5px;
    text-decoration: none !important;
}

.myOrderForm{
    margin-bottom: 30px;
}

.myOrderForm .form-group span {
    margin-right: 8px;
}

.myOrderForm .radio-group{
   margin-right: 10px;
}

.product .product-img {
      margin: 15px 0px;
      width:75%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
      transition: all 0.3s;
}

.product .product-img:hover {
      -moz-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       margin: 10px 0px;
}
.product .product-mark {
    padding-top: 30px
}
.product-mobile {
    padding-bottom: 30px
}
.social-links {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    margin-right: -9px
}
.social-links li {
    display: inline-block;
    margin: 0 9px 0 9px;
    border-radius: 3px;
    box-shadow: 0 4px 0 transparent
}
.social-links li a {
    background: 0 0;
    border: 2px solid #585858;
    display: block;
    color: #585858;
    font-size: 16px;
    width: 41px;
    height: 41px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.social-links li a:hover {
    color: #FFF;
    background: #585858;
    text-decoration: none;
    border-color: #585858
}
.cart-list {
    min-height: 600px;
    margin-bottom: 30px
}
.cart-list a.remove-item {
    color: #585858
}
.cart-list a.remove-item i {
    line-height: 34px
}
.cart-list a.remove-item:hover {
    color: #ee6a70;
    text-decoration: none
}
.cart-list a.remove-item th {
    font-size: 16px
}

.cart-list table.shopping-cart{
    width:75%;
}

.cart-list table.order-summary{
    width:75%;
}
.blog-sidebar h3 {
    margin-top: 28px
}
.blog-sidebar ul {
    padding-left: 18px
}
.blog-sidebar .post-date {
    margin-bottom: 10px;
    text-transform: uppercase
}
.blog-sidebar .post-date span {
    float: right
}

article {
    margin-bottom: 20px;
    padding: 2px 5px;
    box-shadow: 0px 1px 1px 0px;
}
article h1 {
    font-size: 32px
}
article h1 a {
    color: #585858
}
article h1 a:hover {
    text-decoration: none
}
article .fa-star-o {
    color: #e3cf7a;
}
article .social-links {
    margin: 30px 0
}
blockquote .small,
blockquote footer,
blockquote small {
    background-color: transparent;
    padding: 10px 0
}
.paging {
    margin: 30px 0
}
.paging .btn {
    padding: 0 20px
}

#comments_pagination {
    margin: 16px 0;
    text-align: center
}
#comments_pagination a,
#comments_pagination span {
    cursor: pointer;
    font-size: 12px;
    padding: 0 16px;
    line-height: 38px;
    display: inline-block;
    margin: 0 8px 4px 0;
    height: 40px;
    text-decoration: none;
    font-weight: 700;
    outline: 0;
    position: relative;
    background: #FFF;
    color: #585858;
    border: 2px solid #ebebeb;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
#comments_pagination a:active,
#comments_pagination a:focus,
#comments_pagination a:hover,
#comments_pagination span:active,
#comments_pagination span:focus,
#comments_pagination span:hover {
    color: #fff;
    top: 0;
    text-decoration: none;
    background-color: #585858;
    box-shadow: none;
    border: 2px solid #585858
}
#comments_pagination span {
    border: 2px solid #585858;
    background: #585858;
    color: #FFF
}
.media {
    font-weight: 400
}
.media hr {
    margin-top: 0
}
.media h4 {
    margin: 0
}
.media h4 span {
    float: right;
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 400
}
.media p {
    font-size: 13px;
    font-weight: 400
}
.avatar,
.avatar:active,
.avatar:hover {
    border: 0
}
#more-items {
    display: none
}
.post-date {
    margin-bottom: 10px;
    text-transform: uppercase
}

.img-responsive {
    border: 1px solid #d4d4d4;
}

.img-responsive:hover {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.highlighted-text {
    color: #ee6a70 !important;
    font-weight: bold !important;
    background-color: transparent !important;
}
.post-date span {
    float: right
}
.footer {
    background-color: #908f8f;
    width: 100%;
    z-index: 99999;
    padding: 5px 10px;
}
.footer h5{
 color: #ffffff;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
 padding: 2px;
 margin-top: 2px;
 margin-bottom: 6px;
 border-bottom: 1px solid #fff;
}
.footer .link-list{
    padding-left: 3px;
    list-style: none;
    border-left: 1px solid #fff;
}

.footer .link-list li a{
    color: #fff;
    font-size: 11px;
}
.footer .link-list li{
    display: block;
    padding: 3px;
}

.footer div.brand{
    display: inherit;
    margin: 3px 0px;
    padding: 3px 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
}


.footer div.brand a{
     margin-left: 1px;
     font-size: 13px;
     padding:2px;
     color: #fff;
 }

.footer .newsLetterSection{
    display: inline-block;
    padding: 3px 0px;
}

.footer .newsLetterText{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.footer input{
    padding: 3px 5px;
    width: 170px;
}
.footer .banking-options{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 2px;
}
.footer .banking-options li{
    display: inline-block;
    margin-right:20px;
}

.footer .banking-options .netbank span {
    width: 110px;
    height: 30px;
    display: inline-block;
    background: url("../img/footer_sprite.png") no-repeat center;
    background-position: -39px -130px;
}

.footer .banking-options .visa span{
    width: 64px;
    height: 30px;
    display: inline-block;
    background: url("../img/footer_sprite.png") no-repeat center;
    background-position: -191px -130px;
}

.footer .banking-options .cod span {
    width: 86px;
    height: 38px;
    display: inline-block;
    background: url("../img/footer_sprite.png") no-repeat center;
    background-position: -512px -125px;
}

.go-top{
position: fixed;
bottom: 80px;
right: 15px;
}

@media (max-width: 767px) {
    .login-page .login-content,.signup-content{
        left: 10% !important;
    }
    .login-page .loginBtn{
        width:85px !important;
        margin-left: 10px !important;
    }
    .nav-header-top .nav-list {
        padding: 0px !important;
		border: none !important;
    }
	.nav-header-top .mt-info ul li a{
		color: #777;
	}
    .nav-header-top .nav-list li {
        display: list-item;
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        z-index: 100;
        border-bottom: 1px solid #e8e5e5;
        opacity: 0.8;
    }
    .nav-header-top .nav-list li a {
        color: #000000 !important;
        text-transform: uppercase;
		background-color: #FFFFFF !important;
		padding: 5px;
		width: 100%;
    }

	.nav-header-top .nav-list li a:hover {
        color: #fff !important;
        background-color: #908F8F !important;
	}

	.nav-header-top .top-row{
	    display: none;
	}
	.nav-list ul{
	    width: 100%
	}

	.nav-tabs li{
	    margin-right: 0px;
	}
	.nav-tabs li a{
	    padding: 5px 4px;
	}
	.loginText {
        float: left;
        margin: 10px 2px;
    }
    .nav-tabs li .fa-caret-up{
        display: none;
    }
    .nav-header-bottom .search-box {
        width: 25%;
        font-size: 13px;
    }
    .nav-icon-outline {
        margin-left: 12px
    }
    .nav-header-bottom span.fa-venus{
        padding: 5px 6px;
    }
}


@media (max-width:1099px) and (min-width:768px){
        .product-gallery .col-sm-10{
            width: 78%;
        }
        .product-gallery .col-sm-2{
            width: 22%;
        }
        .product-gallery .products .col-sm-3 {
            padding-right: 20px;
        }
    }
@media (max-width:767px) and (min-width:481px){
    .product-gallery .col-sm-10{
            width: 68%;
            display: inline-block;
    }
    .product-gallery .col-sm-10 .col-sm-3{
        width: 50%;
        display: inline-block;
    }
    .product-gallery .col-sm-2{
        width: 30%;
        display: inline-block;
    }
  }
@media (max-width: 480px) {
      .nav-brand {
          font-size: 22px;
      }

      .nav-header-bottom .search-box{
          display:none;
      }

      .nav-tabs li a{
        font-size: 11px;
        padding: 4px 2px;
      }
      .nav-tabs li a span.badge{
        display: none;
      }

      .sortBy{
        display :none;
      }

      .product-gallery .products .col-sm-3 {
          width: 50%;
          display: inline-block;
      }

      .product-gallery .col-sm-2{
            display: none;
      }

      .nav-header-bottom span.fa-venus{
          display:none;
      }

      .login-page .login-content,.signup-content{
              left: 2% !important;
      }

      .login-page .loginBtn{
          width:55px !important;
          margin-left: 5px !important;
      }
  }
}