<div ng-controller = "homeCtrl">

<header class="container-fluid">
		<div class="menu-wrapper" ng-class="{'visibility':toggleMenuFlag}">
			<span class="close-menu visible-xs" ng-click="toggleMenuFlag = !toggleMenuFlag"><i class="fa fa-arrow-left"></i></span>
			<h3 class="visible-xs">Menu</h3>
			<span class="visible-xs shippingInfoSmall">{{::shipping.text}}<small>{{::shipping.info}}</small></span>
			<div class="shippingInfo pull-right">
				<span><i class="fa fa-truck theme-color" aria-hidden="true"></i> {{::shipping.text}}<small>{{::shipping.info}}</small></span>
			</div>
			<ul class="nav-list text-center effect">
				<li ng-class="{active: $index == selected}" ng-click="select($index)" ng-repeat="tab in headerTabs"><a ng-class="{'highlighted-text': tab.name == 'Offer Zone'}" 
				href="#/{{::tab.link}}">{{::tab.name}}</a></li>
			</ul>
			
			<div class="visible-xs mt-info">
				<ul>
					<li ng-repeat="info in infoTabs"><a href="#/{{::info.link}}">{{::info.name}}</a></li>
				</ul>
			</div>
		</div>	
</header>

<section class="container-fluid">
	<div class="nav-header">
			<a class="instagram-connect pull-left" href="https://www.instagram.com/explore/tags/manpriya/" class="pull-left">
				<img src="content/img/instagram.png" alt="instagram connect">
			</a>
			<a class="nav-icon-outline pull-right visible-xs" ng-click="toggleMenuFlag = !toggleMenuFlag"><i class="fa fa-list fa-2x"></i></a>
			<a class="nav-icon-outline pull-right" href="#secure/1/cart"><i class="fa fa-shopping-cart fa-2x"></i><span class="badge" ng-bind="cartCount"></span></a>
			<a href="#login" ng-if="!loggedInUser" class="loginText pull-right"><i class="fa fa-sign-in" aria-hidden="true"></i> {{::login.label}}</a>
			<a href="#home" ng-if="loggedInUser" class="loginText pull-right" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></i> {{userInfo}}</a>
			<a href="#home" class="nav-brand">MANPRIYA <span>STYLES</span></a>
		</div>
</section>

<section class="container-fluid productlist">
			<div class="row top-buffer" ng-repeat="products in productList">
				<div ng-class="{1:'col-sm-6', 0:'col-sm-3'}[product.isCombo]" ng-repeat="product in products.product">
					<a href="#/secure/{{product.id}}/product-description">
						<img ng-src="{{product.sourcePath}}" class="img-responsive" alt="item">
					</a>
					<div class="productlist-label" ng-if="product.isLimited">
						<span class="sold-out-label">{{::limitedStock}}</span>
					</div>
					<div class="product-price">
						<img class="buyNow" src="content/img/button_buy_now.png">
						<span>&#8377; {{product.price}}</span>
						<span class="pull-right">{{product.likes}} likes<i ng-class="{liked: product.isLiked == true}" ng-click="liked(product)" class="fa fa-heart-o"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="text-center show-more">
					<span>{{::seeMore}} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span>
				</div>	
			</div>
</section>

<footer class="footer">
	<div class="container-fluid">
		<div class="pull-left copyright">
			<ul class="nav-list effect">
				<li ng-repeat="footerInfo in infoTabs"><a href="#/{{::footerInfo.link}}">{{::footerInfo.name}} | </a></li>
			</ul>	
		</div>
		
		<div class="pull-right copyright">
		<p> <b>{{::brandName}}</b> © 2016. Developed by <a href="https://in.linkedin.com/in/neville-d-souza-92478773" target="_blank">Neville D'souza</a></p>
		</div>
	</div>
</footer>

</div>
