<div ng-controller = "homeCtrl">

<header class="container-fluid">
		<div class="menu-wrapper" ng-class="{'visibility':toggleMenuFlag}">
			<span class="visible-xs shippingInfoSmall">{{::shipping.text}}<small>{{::shipping.info}}</small></span>
			<div class="visible-xs"><a href="#login" ng-if="!loggedInUser"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> {{::login.label}}</a>
				<a href="#home" ng-if="loggedInUser" ng-click="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> {{userInfo}}</a>
				<a class="pull-right" href="#secure/1/cart"><i class="fa fa-shopping-cart fa-2x"></i><span class="badge" ng-bind="cartCount"></span></a>
			</div>
			<div class="shippingInfo pull-right">
				<span><i class="fa fa-truck theme-color" aria-hidden="true"></i> {{::shipping.text}}<small>{{::shipping.info}}</small></span>
			</div>
			<div class="search-box pull-right">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<h3 class="visible-xs">Menu <span class="close-menu visible-xs" ng-click="toggleMenuFlag = !toggleMenuFlag"><i class="fa fa-arrow-left"></i></span></h3>
			<ul class="nav-list text-center effect">
				<li ng-class="{active: $index == selected}" ng-click="select($index)" ng-repeat="tab in headerTabs"><a ng-class="{'highlighted-text': tab.name == 'Offer Zone'}" 
				href="#/{{::tab.link}}">{{::tab.name}}</a></li>
			</ul>
			
			<div class="visible-xs mt-info">
				<ul>
					<li ng-repeat="info in infoTabs"><a href="#/{{::info.link}}">{{::info.name}}</a></li>
				</ul>
				<a href="https://www.instagram.com/explore/tags/manpriya/" class="pull-left">
					<img src="content/img/instagram.png" alt="instagram connect">
				</a>
			</div>
		</div>	
</header>

<section class="container-fluid">
	<div class="nav-header">
			<a class="instagram-connect pull-left" href="https://www.instagram.com/explore/tags/manpriya/" class="pull-left">
				<img src="content/img/instagram.png" alt="instagram connect">
			</a>
			<a class="nav-icon-outline pull-right visible-xs" ng-click="toggleMenuFlag = !toggleMenuFlag"><i class="fa fa-list fa-2x"></i></a>
			<a class="nav-icon-outline pull-right" href="#secure/1/cart"><i class="fa fa-shopping-cart fa-2x"></i><span class="badge" ng-bind="cartCount"></span></a>
			<a href="#login" ng-if="!loggedInUser" class="loginText pull-right"><i class="fa fa-sign-in" aria-hidden="true"></i> {{::login.label}}</a>
			<a href="#home" ng-if="loggedInUser" class="loginText pull-right" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{userInfo}}</a>
			<a href="#home" class="nav-brand">MANPRIYA <span>STYLES</span></a>
		</div>
</section>

<section class="container-fluid productlist">
			<div class="row top-buffer">
				<div class="product-filter">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span>Price Range </span>
							<span class="resetBtn pull-right" ng-click="resetPriceRange();"><i class="fa fa-times-circle"></i> Reset</span>
						</div>
						<div class="panel-body">
							<span>&#8377; {{priceMin}}</span>
							<span class="pull-right">&#8377; {{priceMax}}</span>
							<input type="range" name="points" min="0" max="2000" ng-model="priceRange">
							<span>&#8377; {{priceRange}}</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<span><i class="search-icon fa fa-search nav-search-icon"></i></span>
							<input type="text" class="filter-category" placeholder="Filter by Category" ng-model="categoryValue" autocomplete="off" autofocus="">
						</div>
						<div class="panel-body category-filter-panel">
									<div ng-repeat="category in categories | filter:categoryValue as results">
										<input type="checkbox" ng-model="filterCategory.type[category]" ng-true-value="'{{category}}'" ng-false-value="''">{{category}}
									</div>
							<div class="animate-repeat" ng-if="results.length === 0">
								<strong>No category found...</strong>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<span>Sort By </span>
							<span class="resetBtn pull-right" ng-click="resetSorting();"><i class="fa fa-times-circle"></i> Reset</span>
						</div>
						<div class="panel-body category-filter-panel">
							<div ng-repeat="sortValue in sortBy">
								<input type="checkbox" ng-model="filterSortBy.sort[sortValue]" ng-true-value="'{{sortValue}}'" ng-false-value="''">{{sortValue}}
							</div>
						</div>
					</div>
				</div>
				<div class="product-gallery  pull-right">
					<div ng-class="{1:'col-sm-6', 0:'col-sm-3'}[product.isCombo]" ng-repeat="product in productList | limitTo: 4">
					<div class="add-preview" ng-hide="true">
							<a class="fa-stack fa-lg cartPlus" href="#/secure/{{product.id}}/cart" title="ADD TO CART">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i>
							</a>
							<a class="fa-stack fa-lg preview" href="#/secure/{{product.id}}/product-description" title="PREVIEW">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
							</a>
					</div>
						<a href="#/secure/{{product.id}}/product-description"><img ng-src="{{product.sourcePath}}" class="img-responsive" alt="item"></a>
					<div class="productlist-label" ng-if="product.isLimited">
						<span class="sold-out-label">{{::limitedStock}}</span>
					</div>
					<div class="product-price">
						<img class="buyNow" src="content/img/button_buy_now.png">
						<span>&#8377; {{product.price}}</span>
						<span class="pull-right">{{product.likes}} likes<i ng-class="{liked: product.isLiked === true}" ng-click="product.isLiked = !product.isLiked; product.likes = product.likes + (product.isLiked == true ?  1 : -1)" class="fa fa-heart-o"></i>
						</span>
					</div>
				</div>
				</div>
			</div>
			<div class="row">
				<div class="text-center show-more" ng-hide="productList.length === offset" ng-click="offset = offset + 1">
					<span>{{::seeMore}} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span>
				</div>
			</div>
</section>

<span class="go-top" ng-click="goTop()"><i class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></i></span>

<footer class="footer">
	<div class="container-fluid">
		<div class="pull-left copyright">
			<ul class="nav-list effect">
				<li ng-repeat="footerInfo in infoTabs"><a href="#/{{::footerInfo.link}}">{{::footerInfo.name}} | </a></li>
			</ul>	
		</div>
		
		<div class="pull-right copyright">
		<p> <b>{{::brandName}}</b> © 2016. Developed by <a href="https://in.linkedin.com/in/neville-d-souza-92478773" target="_blank">Neville D'souza</a></p>
		</div>
	</div>
</footer>

</div>
