<div class="login-page">
	<div class="signup-content">
		<div ng-if="isInvalid" class="alert alert-danger"><strong>Error! </strong>{{errorMessage}}</div>
		<div ng-if="isValid" class="alert alert-success"><strong>Registered Successfully! </strong>{{successMessage}}</div>
		<i ng-if="dataLoading" class="fa-li fa fa-spinner fa-spin fa-2x"></i>
		<form name="form" ng-submit="signUp()" role="form">
			<div class="form-group">
				<span class="signup-text">{{::signup}}</span>
				<a href="#/home" class="pull-right homeText">{{::home}}<i class="fa fa-level-up fa-2x" aria-hidden="true"></i></a>
			</div>
			<div class="form-group">
				<input type="text" ng-model="register.name" class="form-control input-lg" placeholder="NAME" minlength="1" maxlength="25" required oninvalid="this.setCustomValidity('Enter a valid name');">
			</div>
			<div class="form-group">
				<input type="email" ng-model="register.email" class="form-control input-lg" placeholder="EMAIL" maxlength="40" required oninvalid="this.setCustomValidity('Enter a valid email-id');">
			</div>
			<div class="form-group">
				<input type="text" ng-model="register.mobile" class="form-control input-lg" placeholder="MOBILE" pattern="^\d{10}$" required oninvalid="this.setCustomValidity('Enter a valid mobile number');">
			</div>
			<div class="form-group">
				<input type="text" ng-model="register.city" class="form-control input-lg" placeholder="CITY" minlength="3" maxlength="25" required oninvalid="this.setCustomValidity('Enter a valid city');">
			</div>
			<div class="form-group">
				<input type="password" ng-model="register.password" class="form-control input-lg" placeholder="PASSWORD" minlength="6" maxlength="15" required oninvalid="this.setCustomValidity('Enter a password having 6 or more characters');">
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" placeholder="CONFIRM PASSWORD" minlength="6" maxlength="15" required oninvalid="this.setCustomValidity('Password does not match');">
			</div>
			<button type="submit" class="signupBtn"><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>

			<button type="reset" ng-click="reset()" class="cancelBtn"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
		</form>
	</div>
</div>