<div class="container-fluid">
    <div class="row top-buffer">
        <ol class="breadcrumb">
            <li><a href="#home">{{::home}}</a></li>
            <li class="active">{{::productDetails.name}}</li>
        </ol>
    </div>
</div>

<div class="container-fluid product">
    <div class="row">
        <div class="col-sm-4 text-center">
            <img ng-src="{{productDetails.sourcePath}}" class="product-img" alt="default">
            <img ng-src="{{productDetails.sourcePath}}" class="product-img" alt="default">
            <!--<img ng-src="{{productDetails.sourcePath}}" class="product-img" alt="default">-->
        </div>
        <div class="col-sm-6">
                <h2 class="product-title">{{::productDetails.name}}</h2>
                <div class="product-price">
                    <span class="price">&#8377; {{::productDetails.price}}</span>
                    <a href="#/secure/1/home" title="ADD TO CART" class="addToCartBtn">Add to Cart <i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                </div>
                <div class="product-detail">
                    <h4 class="highlighted-text">Product Details</h4>
                    <p>{{::productDetails.description}}</p>
                    <ul>
                        <li><b>Color : </b>{{::productDetails.color}}</li>
                        <li><b>Product Code : </b>{{::productDetails.productCode}}</li>
                        <li><b>In Stock : </b>{{::productDetails.inStock}}</li>
                        <li><b>Warranty : </b>{{::productDetails.warranty}}</li>
                        <li><b>COD : </b>{{::productDetails.COD}}</li>
                        <li><b>Size: </b>{{::productDetails.size}}</li>
                    </ul>
                    <div>
                        <b>Call or mail us in case of any queries:  </b> <br>
                        +91 9892761957 / nevilledsouza28@gmail.com
                    </div>
                </div>
                <hr>
                <form class="myOrderForm">
                    <h4 class="highlighted-text">Place an Order</h4>
                    <div class="form-group">
                        <span>Order Quantity  </span>
                        <input type="number" name="quantity" min="1" max="5" ng-model="orderQuantity" ng-init="orderQuantity=1">
                    </div>
                    <div class="form-group">
                        <span>Color  </span>
                        <select name="repeatSelect" ng-model="selectedOption.id">
                            <option ng-repeat="option in availableColorOptions" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Payment Mode</span>
                        <label class="radio-group">
                            <input type="radio" ng-model="paymentMode.type" value="cod"> COD
                        </label>
                        <label class="radio-group">
                            <input type="radio" ng-model="paymentMode.type" value="online_banking"> ONLINE BANKING
                        </label>
                    </div>

                    <div class="product-btn">
                        <a href=#secure/1/cart class="paymentBtn">Proceed to checkout <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </form>
                <hr>
                <div class="product-points">
                    <div class="pull-left">
                        <img src="content/img/shipping.png">
                        <div>FREE SHIPPING &amp; RETURNS</div>
                    </div>
                    <div class="pull-left">
                        <img src="content/img/customerSatisfaction.png">
                        <div>CUSTOMER SATISFACTION</div>
                    </div>
                    <div class="pull-left">
                        <img src="content/img/quality.png">
                        <div>ASSURED QUALITY</div>
                    </div>
                </div>
        </div>
    </div>
</div>